In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import sklearn as sklearn

In [2]:
df= pd.read_csv('default_data.csv')

In [3]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [4]:
df.drop('ID',axis=1,inplace=True)

In [5]:
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [6]:
#Data preprocessing starts:

In [7]:
#Checking for null values in whole data frame

In [8]:
df.isna().any().sum()

0

In [9]:
#Starting to check for unique values in the features where nominal and ordinal scaling is of consideration:

In [10]:
list(df['SEX'].unique())

[2, 1]

In [11]:
list(df['EDUCATION'].unique())

[2, 1, 3, 5, 4, 6, 0]

In [12]:
#Above the education column shows total seven unique values. I will accumulate 5,6,0 values to 
#4 value which represents others.

In [13]:
df['EDUCATION']=np.where(df['EDUCATION'] == 5, 4, df['EDUCATION'])

In [14]:
list(df['EDUCATION'].unique())

[2, 1, 3, 4, 6, 0]

In [15]:
df['EDUCATION']=np.where(df['EDUCATION'] == 6, 4, df['EDUCATION'])

In [16]:
list(df['EDUCATION'].unique())

[2, 1, 3, 4, 0]

In [17]:
df['EDUCATION']=np.where(df['EDUCATION'] == 0, 4, df['EDUCATION'])

In [18]:
list(df['EDUCATION'].unique())

[2, 1, 3, 4]

In [19]:
list(df['MARRIAGE'].unique())

[1, 2, 3, 0]

In [20]:
df['MARRIAGE']=np.where(df['MARRIAGE'] == 0, 3, df['MARRIAGE'])

In [21]:
list(df['MARRIAGE'].unique())

[1, 2, 3]

In [22]:
df.rename(columns={"default payment next month": "Default"}, inplace=True)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 24 columns):
LIMIT_BAL    30000 non-null int64
SEX          30000 non-null int64
EDUCATION    30000 non-null int64
MARRIAGE     30000 non-null int64
AGE          30000 non-null int64
PAY_0        30000 non-null int64
PAY_2        30000 non-null int64
PAY_3        30000 non-null int64
PAY_4        30000 non-null int64
PAY_5        30000 non-null int64
PAY_6        30000 non-null int64
BILL_AMT1    30000 non-null int64
BILL_AMT2    30000 non-null int64
BILL_AMT3    30000 non-null int64
BILL_AMT4    30000 non-null int64
BILL_AMT5    30000 non-null int64
BILL_AMT6    30000 non-null int64
PAY_AMT1     30000 non-null int64
PAY_AMT2     30000 non-null int64
PAY_AMT3     30000 non-null int64
PAY_AMT4     30000 non-null int64
PAY_AMT5     30000 non-null int64
PAY_AMT6     30000 non-null int64
Default      30000 non-null int64
dtypes: int64(24)
memory usage: 5.5 MB

In [24]:
y=df.Default

In [25]:
y

0        1
1        1
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       1
14       0
15       0
16       1
17       0
18       0
19       0
20       0
21       1
22       1
23       1
24       0
25       0
26       1
27       0
28       0
29       0
        ..
29970    0
29971    0
29972    0
29973    1
29974    1
29975    0
29976    1
29977    0
29978    0
29979    0
29980    0
29981    0
29982    1
29983    0
29984    0
29985    0
29986    0
29987    0
29988    0
29989    0
29990    0
29991    1
29992    0
29993    0
29994    1
29995    0
29996    0
29997    1
29998    1
29999    1
Name: Default, Length: 30000, dtype: int64

In [26]:
x=df.drop('Default',axis=1)

In [27]:
x

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,20000,2,2,1,24,2,2,-1,-1,-2,...,689,0,0,0,0,689,0,0,0,0
1,120000,2,2,2,26,-1,2,0,0,0,...,2682,3272,3455,3261,0,1000,1000,1000,0,2000
2,90000,2,2,2,34,0,0,0,0,0,...,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000
3,50000,2,2,1,37,0,0,0,0,0,...,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000
4,50000,1,2,1,57,-1,0,-1,0,0,...,35835,20940,19146,19131,2000,36681,10000,9000,689,679
5,50000,1,1,2,37,0,0,0,0,0,...,57608,19394,19619,20024,2500,1815,657,1000,1000,800
6,500000,1,1,2,29,0,0,0,0,0,...,445007,542653,483003,473944,55000,40000,38000,20239,13750,13770
7,100000,2,2,2,23,0,-1,-1,0,0,...,601,221,-159,567,380,601,0,581,1687,1542
8,140000,2,3,1,28,0,0,2,0,0,...,12108,12211,11793,3719,3329,0,432,1000,1000,1000
9,20000,1,3,2,35,-2,-2,-2,-2,-1,...,0,0,13007,13912,0,0,0,13007,1122,0
10,200000,2,3,2,34,0,0,2,0,0,...,5535,2513,1828,3731,2306,12,50,300,3738,66
11,260000,2,1,2,51,-1,-1,-1,-1,-1,...,9966,8517,22287,13668,21818,9966,8583,22301,0,3640
12,630000,2,2,2,41,-1,0,-1,-1,-1,...,6500,6500,6500,2870,1000,6500,6500,6500,2870,0
13,70000,1,2,2,30,1,2,2,0,0,...,65701,66782,36137,36894,3200,0,3000,3000,1500,0
14,250000,1,1,2,29,0,0,0,0,0,...,63561,59696,56875,55512,3000,3000,3000,3000,3000,3000
15,50000,2,3,3,23,1,2,0,0,0,...,28116,28771,29531,30211,0,1500,1100,1200,1300,1100
16,20000,1,1,2,24,0,0,2,2,2,...,17428,18338,17905,19104,3200,0,1500,0,1650,0
17,320000,1,1,1,49,0,0,0,-1,-1,...,194663,70074,5856,195599,10358,10000,75940,20000,195599,50000
18,360000,2,1,1,49,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
19,180000,2,1,2,29,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
20,130000,2,3,2,39,0,0,0,0,0,...,24489,20616,11802,930,3000,1537,1000,2000,930,33764
21,120000,2,2,1,39,-1,-1,-1,-1,-1,...,316,0,632,316,316,316,0,632,316,0
22,70000,2,2,2,26,2,0,0,2,2,...,45020,44006,46905,46012,2007,3582,0,3601,0,1820
23,450000,2,1,1,40,-2,-2,-2,-2,-2,...,1473,560,0,0,19428,1473,560,0,0,1128
24,90000,1,1,2,23,0,0,0,-1,0,...,0,5398,6360,8292,5757,0,5398,1200,2045,2000
25,50000,1,3,2,23,0,0,0,0,0,...,36023,28967,29829,30046,1973,1426,1001,1432,1062,997
26,60000,1,1,2,27,1,-2,-1,-1,-1,...,259,-57,127,-189,0,1000,0,500,0,1000
27,50000,2,3,2,30,0,0,0,0,0,...,17163,17878,18931,19617,1300,1300,1000,1500,1000,1012
28,50000,2,3,1,47,-1,-1,-1,-1,-1,...,3416,2040,30430,257,3415,3421,2044,30430,257,0
29,50000,1,1,2,26,0,0,0,0,0,...,17496,17907,18375,11400,1500,1500,1000,1000,1600,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29970,360000,1,1,1,34,-1,-1,-1,0,0,...,64069,49005,8676,19487,52951,64535,8907,53,19584,16080
29971,80000,1,3,1,36,0,0,0,0,0,...,68279,69674,71070,73612,2395,2500,2530,2556,3700,3000
29972,190000,1,1,1,37,0,0,0,0,0,...,5869,29223,19616,148482,2000,3869,25128,10115,148482,4800
29973,230000,1,2,1,35,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29974,50000,1,2,1,37,1,2,2,2,0,...,4328,2846,1585,1324,0,3000,0,0,1000,1000
29975,220000,1,2,1,41,0,0,-1,-1,-2,...,1369,5924,1759,1824,8840,6643,5924,1759,1824,7022
29976,40000,1,2,2,47,2,2,3,2,2,...,53415,51259,47151,46934,4000,0,2000,0,3520,0
29977,420000,1,1,2,34,0,0,0,0,0,...,140011,141695,144839,147954,7000,7000,5500,5500,5600,5000
29978,310000,1,2,1,39,0,0,0,0,0,...,233854,219409,216540,210675,10029,9218,10029,8049,8040,10059
29979,180000,1,1,1,32,-2,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29980,50000,1,3,2,42,0,0,0,0,0,...,49397,50360,19971,19694,10000,4000,5000,3000,4500,2000
29981,50000,1,2,1,44,1,2,2,2,0,...,33101,28192,22676,14647,2300,1700,0,517,503,585
29982,90000,1,2,1,36,0,0,0,0,0,...,10306,11328,12036,14329,1500,1500,1500,1200,2500,0
29983,20000,1,2,1,44,-2,-2,-2,-2,-2,...,2712,2882,9235,1719,2890,2720,2890,9263,1824,1701
29984,30000,1,2,2,38,-1,-1,-2,-1,-1,...,2939,1993,1907,3319,923,2977,1999,3057,3319,1000
29985,240000,1,1,2,30,-2,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29986,360000,1,1,2,35,-1,-1,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29987,130000,1,1,2,34,0,0,0,0,0,...,15546,108047,93708,97353,3000,2000,93000,4000,5027,4005
29988,250000,1,1,1,34,0,0,0,0,0,...,243075,245750,175005,179687,65000,8800,9011,6000,7000,6009
29989,150000,1,1,2,35,-1,-1,-1,-1,-1,...,-3,780,0,0,9054,0,783,0,0,0
29990,140000,1,2,1,41,0,0,0,0,0,...,139110,138262,49675,46121,6000,7000,4228,1505,2000,2000
29991,210000,1,2,1,34,3,2,2,2,2,...,2500,2500,2500,2500,0,0,0,0,0,0
29992,10000,1,3,1,43,0,0,0,-2,-2,...,0,0,0,0,2000,0,0,0,0,0
29993,100000,1,1,2,38,0,-1,-1,0,0,...,102996,70626,69473,55004,2000,111784,4000,3000,2000,2000
29994,80000,1,2,2,34,2,2,2,2,2,...,79384,77519,82607,81158,7000,3500,0,7000,0,4000
29995,220000,1,3,1,39,0,0,0,0,0,...,208365,88004,31237,15980,8500,20000,5003,3047,5000,1000
29996,150000,1,3,2,43,-1,-1,-1,-1,0,...,3502,8979,5190,0,1837,3526,8998,129,0,0
29997,30000,1,2,2,37,4,3,2,-1,0,...,2758,20878,20582,19357,0,0,22000,4200,2000,3100
29998,80000,1,3,1,41,1,-1,0,0,0,...,76304,52774,11855,48944,85900,3409,1178,1926,52964,1804
29999,50000,1,2,1,46,0,0,0,0,0,...,49764,36535,32428,15313,2078,1800,1430,1000,1000,1000

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [30]:
x_train

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
5652,360000,2,1,1,32,0,0,0,0,-1,...,19783,17738,1262,382,1174,1100,396,1266,9,7643
14241,210000,2,1,2,32,-2,-2,-2,-2,-1,...,1400,1400,27100,25644,2800,1400,0,27100,1543,75000
15612,120000,2,3,1,30,-2,-2,-2,-2,-2,...,1549,757,757,1328,757,1549,757,757,1328,757
8802,10000,1,2,1,50,2,2,2,0,0,...,8297,8792,9277,9744,1000,1000,1000,1000,1000,1000
7415,20000,1,2,1,42,0,0,2,0,0,...,18506,18802,20199,19394,3300,0,900,1700,0,253
12712,360000,1,1,2,33,-1,2,0,0,2,...,6465,9465,9290,4209,0,1000,3000,0,5000,3780
6406,240000,2,1,2,38,-1,-1,-1,-1,-1,...,9927,3633,3603,926,2106,9951,3633,3603,926,7199
11399,110000,1,2,1,39,0,0,0,0,0,...,34533,36819,32467,35806,3007,3000,3000,3000,4000,3000
4950,170000,1,1,2,51,0,0,0,0,0,...,180389,137030,129222,122229,7509,5573,4309,4239,5142,2856
16795,500000,1,2,2,30,0,0,0,0,0,...,133712,136069,67837,69514,5034,6000,5355,3500,2513,5000
27811,120000,2,2,2,23,-2,-2,-2,-2,-2,...,475,804,245,100,1480,478,804,245,144,0
4500,160000,2,2,2,24,0,0,0,0,0,...,39847,39114,39935,41269,1676,1940,1400,1451,2000,1533
28745,100000,2,2,1,27,1,-2,-2,-2,-2,...,0,0,0,4747,0,0,0,0,4747,1198
4717,60000,2,2,1,33,0,0,0,0,0,...,44057,27510,28086,29119,1879,1500,1000,1019,1500,1000
1192,270000,2,2,2,34,-1,-1,-1,-1,-1,...,2958,4154,5885,3129,3406,2983,4172,5912,3143,0
17720,150000,2,1,2,36,1,-1,-1,-1,-1,...,0,234,0,0,990,0,234,0,0,0
22402,100000,2,1,2,28,1,-2,-2,-2,-2,...,-4894,-4894,-4894,-4894,0,0,0,0,0,0
20911,160000,1,1,1,41,-1,-1,-1,-1,-1,...,1350,1310,2374,1444,230,1500,1310,1444,0,1000
8009,20000,1,1,2,28,0,0,0,-2,-2,...,0,0,0,0,1650,0,0,0,0,0
6879,500000,2,2,1,40,-1,-1,-1,-1,-1,...,2312,2928,0,0,0,2321,2928,0,0,0
11435,20000,2,2,2,23,1,2,2,2,2,...,8635,8350,9063,8771,1000,1800,0,1000,0,1000
12067,20000,1,3,1,53,0,0,2,0,0,...,19694,20004,20159,20059,2000,1000,1000,1000,1000,800
3657,150000,2,2,1,31,0,0,0,0,0,...,109374,111279,125353,126913,5500,4005,3241,15500,4000,3568
2685,100000,1,3,1,44,0,0,0,0,0,...,46899,47447,48035,40484,5000,5000,1554,1595,1686,1200
26514,20000,2,2,2,55,0,0,0,0,0,...,18481,15495,15938,16680,1289,1258,1260,700,1000,2100
16737,180000,1,2,2,32,0,0,0,0,-2,...,11988,0,0,0,1429,1000,0,0,0,0
28297,30000,2,2,1,31,3,3,2,2,2,...,25522,26008,25294,26928,0,1600,1200,0,2200,0
9893,90000,1,1,1,53,0,0,0,0,0,...,22132,63204,19412,18099,2400,1582,770,1696,820,520
9504,360000,1,1,2,29,1,-2,-1,-1,-1,...,6458,825,825,825,0,9091,825,825,825,825
6779,400000,1,2,1,42,0,0,0,0,0,...,284624,237176,211342,208432,11011,9816,8000,7824,8700,6500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13316,200000,2,1,1,44,-1,-1,-2,-2,-2,...,0,0,0,17480,0,0,0,0,17480,76220
4458,140000,2,2,1,32,0,0,0,0,0,...,112170,102931,100179,102417,5820,4920,3600,3700,3900,3602
18715,80000,2,2,1,26,0,0,0,0,0,...,42418,43410,44684,45808,2000,2100,2000,2000,2000,2000
8734,100000,2,2,1,39,-2,-2,-2,-2,-2,...,0,7700,0,0,0,0,7700,0,0,0
16433,30000,2,3,1,55,0,0,0,0,0,...,12421,13507,13782,14159,1200,1214,1300,500,600,2900
17726,470000,2,1,1,61,-2,-2,-2,-2,-2,...,3161,762,3637,16847,5241,3176,766,3673,16906,1437
6633,180000,2,2,1,34,0,0,-2,-1,0,...,0,6398,15218,24901,0,0,6398,9000,10000,500
12399,130000,2,3,1,36,-1,-1,-1,-1,-1,...,596,1520,700,3688,2951,596,1520,700,3688,2803
26545,200000,2,2,1,50,-2,-2,-2,-2,-2,...,348,359,672,1620,453,348,359,672,1620,384
2368,460000,2,2,1,33,0,0,0,0,0,...,52099,45512,39041,33571,2371,2008,1560,1457,1299,769
401,60000,2,3,3,42,0,0,0,0,0,...,28097,28665,28768,29064,1488,1394,962,1500,2541,2000
1344,200000,1,1,1,38,-1,-1,-1,-1,-1,...,1463,15550,5045,6709,735,1463,15550,5045,6709,3021
4231,180000,2,2,1,49,-2,-1,-1,-2,-2,...,106,59,-47,347,3166,106,59,47,570,106
11996,330000,2,1,1,36,-1,-1,2,-1,-1,...,36,24699,2912,14231,36,0,24863,2912,14231,6976
8189,130000,2,2,2,25,-2,-2,-2,-2,-2,...,1298,550,-286,55138,1200,1300,964,1698,60549,5000
29791,200000,1,1,1,37,-2,-2,-2,-2,-2,...,19583,20632,3142,21253,55291,25120,25118,36,27107,43215
17079,100000,2,2,2,25,0,0,0,0,0,...,88597,84861,69750,47394,4000,3900,3000,2000,2000,2000
29859,190000,1,2,1,42,0,0,0,0,0,...,4085,4742,5875,7037,1000,1004,1500,1500,1267,1500
16822,20000,1,2,1,38,1,2,2,2,2,...,11813,11327,12137,11799,0,2676,0,1000,0,582
8944,100000,2,2,1,42,2,2,0,0,0,...,96845,97037,93480,95516,13,3709,4000,3500,3600,3500
21468,390000,2,1,2,27,0,0,0,0,0,...,359292,348513,272077,225079,13313,13705,15454,144206,9000,10000
4477,100000,2,2,1,40,0,0,0,0,0,...,26704,27640,30035,33697,2008,2000,2000,3000,5000,3000
27968,120000,2,1,2,28,-1,-1,-1,-1,-1,...,780,470,-170,180,2000,780,470,0,500,1335
11558,30000,1,1,2,35,2,2,2,2,2,...,15514,14968,16026,15619,1500,600,0,1300,0,1300
3060,150000,2,3,1,45,0,0,0,0,0,...,147635,129507,132219,134869,5457,5661,4636,4800,4850,5000
1167,50000,2,3,1,59,0,0,0,0,0,...,36811,13234,11543,10751,2009,2000,556,378,619,5000
6399,30000,1,3,1,33,2,0,0,0,0,...,45414,21331,21987,22452,1406,1366,1000,1000,980,1000
427,170000,2,1,2,31,-1,-1,-1,-1,0,...,199,398,199,199,199,199,398,0,199,398
328,340000,1,2,1,55,-2,-1,-1,-2,-2,...,8300,2190,24599,7416,44665,8321,2190,24599,7416,77195
23426,20000,2,2,1,29,2,2,2,0,0,...,18756,19968,15333,10056,1474,0,2403,0,6000,0

In [31]:
y_train

5652     1
14241    0
15612    0
8802     0
7415     0
12712    0
6406     1
11399    0
4950     0
16795    0
27811    0
4500     1
28745    1
4717     0
1192     1
17720    0
22402    0
20911    1
8009     0
6879     0
11435    1
12067    1
3657     0
2685     0
26514    0
16737    0
28297    1
9893     0
9504     0
6779     0
        ..
13316    0
4458     0
18715    0
8734     0
16433    1
17726    0
6633     0
12399    0
26545    0
2368     0
401      0
1344     1
4231     0
11996    0
8189     1
29791    0
17079    0
29859    1
16822    0
8944     1
21468    0
4477     0
27968    0
11558    0
3060     1
1167     0
6399     1
427      1
328      0
23426    0
Name: Default, Length: 24000, dtype: int64

In [32]:
from sklearn.linear_model import LogisticRegression

In [33]:
lr= LogisticRegression()
lr.fit(x_train,y_train)

H:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [34]:
lr.score(x_train,y_train)

0.7790833333333333

In [35]:
from sklearn.svm import SVC

In [36]:
svm=SVC()
svm.fit(x_train,y_train)

H:\Anaconda\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [37]:
svm.score(x_test,y_test)

0.7778333333333334

In [38]:
from sklearn.ensemble import RandomForestClassifier

In [39]:
from sklearn.model_selection import StratifiedKFold

In [40]:
skf=StratifiedKFold(n_splits=12)

In [41]:
skf

StratifiedKFold(n_splits=12, random_state=None, shuffle=False)

In [45]:
from sklearn.model_selection import cross_val_score

In [46]:
from sklearn.feature_selection import RFE

In [47]:
sel_feat= RFE(LogisticRegression(),n_features_to_select=15)
sel_feat.fit(x_train,y_train)

H:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
H:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
H:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
H:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
H:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
H:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
H:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
H:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
H:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

RFE(estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False),
  n_features_to_select=15, step=1, verbose=0)

In [48]:
sel_feat.get_support()

array([False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False, False, False,  True,
        True, False, False,  True, False])

In [51]:
features = x_train.columns[sel_feat.get_support()]

In [52]:
features

Index(['SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3',
       'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT5'],
      dtype='object')